In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df=pd.read_csv("income.csv")

In [3]:
df.head()

   RID         age   income student credit_rating Class:buys Computer
0    1        Youth    high      no          fair                  no
1    2        Youth    high      no     excellent                  no
2    3  middle_aged    high      no          fair                 yes
3    4       senior  medium      no          fair                 yes
4    5       senior     low     yes          fair                 yes

In [4]:
print("columns :",df.columns)
print("")
print("shape :",df.shape)
filtered_columns = df.columns[1:5]

columns : Index(['RID', 'age ', 'income', 'student', 'credit_rating',
       'Class:buys Computer'],
      dtype='object')

shape : (14, 6)

In [5]:
sum_y= sum(df["Class:buys Computer"]== "yes")
sum_n= sum(df["Class:buys Computer"]== "no")
r=14
info = (-sum_y/r * math.log(sum_y/r,2) -sum_n/r * math.log(sum_n/r,2))
print("info:",info)

info: 0.9402859586706309

In [8]:
def dtreeRootnode():
    r = df.shape[0]
    print(df.columns)
    target = input("Enter target class from the following [choose (Class:buys Computer)]: ")
    
    sum_y= sum(df[target]== "yes")
    sum_n= sum(df[target]== "no")
    info = (-sum_y/r * math.log(sum_y/r,2) -sum_n/r * math.log(sum_n/r,2))
    
    gain =[]
    for i in filtered_columns:
        info_i = 0
        for j in df[i].unique():
            sum_y = sum((df[target]== "yes") & (df[i]==j))
            sum_n = sum((df[target]== "no") & (df[i]==j))
            s_yn = sum_y + sum_n
        
            if(sum_y ==0):
                info_i_j = s_yn/r * (sum_n/s_yn * math.log(sum_n/s_yn,2))
            elif(sum_n ==0):
                info_i_j = s_yn/r * ( -sum_y/s_yn* math.log(sum_y/s_yn,2))
            else:
                info_i_j = s_yn/r * ((-sum_y/s_yn* math.log(sum_y/s_yn,2)) - sum_n/s_yn * math.log(sum_n/s_yn,2))
        
            info_i = info_i + info_i_j
        gain_i = info - info_i
        gain.append(gain_i)
        
    data = {"gain" : gain, "attribute" : filtered_columns}
    df2 = pd.DataFrame(data= data, columns = ["gain", "attribute"])
    display(df2)
    df3 = df2[df2["gain"] == df2["gain"].max()]
    print("============================================")
    print("ROOT NODE - (MAX GAIN)")
    display(df3)

In [9]:
dtreeRootnode()

Index(['RID', 'age ', 'income', 'student', 'credit_rating',
       'Class:buys Computer'],
      dtype='object')
Enter target class from the following [choose (Class:buys Computer)]: Class:buys Computer

       gain      attribute
0  0.246750           age
1  0.029223         income
2  0.151836        student
3  0.048127  credit_rating

============================================
ROOT NODE - (MAX GAIN)

      gain attribute
0  0.24675      age