# (Bayesian Classification)

By Divyansh Agarwal

IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import math

LOADING DATASET AND CHECKING HEAD

In [2]:
df=pd.read_csv("income.csv")
df

    RID         age   income student credit_rating Class:buys Computer
0     1        Youth    high      no          fair                  no
1     2        Youth    high      no     excellent                  no
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
7     8        Youth  medium      no          fair                  no
8     9        Youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        Youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no

CHECKING COLUMNS AND ANALYZING SHAPE

In [3]:
print("columns :",df.columns)
print("")
print("shape :",df.shape)

columns : Index(['RID', 'age ', 'income', 'student', 'credit_rating',
       'Class:buys Computer'],
      dtype='object')

shape : (14, 6)

# From Scratch

CALCULATING TOTAL AMOUNT OF (YES AND NO) INSTANCES AND THEIR PROBABILITIES FROM THE ENTIRE TUPLE

In [4]:
sum_y= sum(df["Class:buys Computer"]== "yes")
sum_n= sum(df["Class:buys Computer"]== "no")
r=14

p_y = sum_y/r
p_n = sum_n/r

print("Instance : Count : Probability")
print("   Yes      ", sum_y,end="     ")

print(p_y)

print("--------------------------------------")

print("   No       ", sum_n,end="     ")
print(p_n)

Instance : Count : Probability
   Yes       9     0.6428571428571429
--------------------------------------
   No        5     0.35714285714285715

FUNCTION TO MAKE PREDICTIONS BASED ON NAIVE BAYES

In [100]:
def Bay():
    age= input("Select age group (Youth, middle_aged, senior): ")
    income = input("Enter the income domain (high, mdeium, low): ")
    stu = input("Student? (yes/no): ")
    cred = input("Enter credit rating (fair, excellent): ")
    
    sum_y = sum((df["Class:buys Computer"]== "yes") & (df['age ']==age))
    p_a = sum_y/9
    sum_y = sum((df["Class:buys Computer"]== "yes") & (df['income']==income))
    p_i = sum_y/9
    sum_y = sum((df["Class:buys Computer"]== "yes") & (df['credit_rating']==cred))
    p_c = sum_y/9
    sum_y = sum((df["Class:buys Computer"]== "yes") & (df['student']==stu))
    p_s = sum_y/9

    pr_y = p_y * (p_a * p_i * p_c * p_s)
            
        
    sum_n = sum((df["Class:buys Computer"]== "no") & (df['age ']==age))
    p_a = sum_n/5
    sum_n = sum((df["Class:buys Computer"]== "no") & (df['income']==income))
    p_i = sum_n/5
    sum_n = sum((df["Class:buys Computer"]== "no") & (df['credit_rating']==cred))
    p_c = sum_n/5
    sum_n = sum((df["Class:buys Computer"]== "no") & (df['student']==stu))
    p_s = sum_n/5

    pr_n = p_n * (p_a * p_i * p_c * p_s)
    
    print("------------------------------------------------")
    
    print("Actual value :- ",df[((df['age ']==age) & (df['income']==income) & (df['student']==stu) & 
                                 (df['credit_rating']==cred))]['Class:buys Computer'])
    
    print("------------------------------------------------")
    
    if (pr_y > pr_n):
        print("Predicted :- Yes")
    else:
        print("Predicted :- No")

MAKING PREDICTIONS USING THE ABOVE FUNCTION

In [116]:
Bay()

Select age group (Youth, middle_aged, senior): Youth
Enter the income domain (high, mdeium, low): medium
Student? (yes/no): yes
Enter credit rating (fair, excellent): fair
------------------------------------------------
Actual value :-  Series([], Name: Class:buys Computer, dtype: object)
------------------------------------------------
Predicted :- Yes

# SCIKIT LEARN

ENCODING DATA

In [12]:

cat_df = df.drop("RID", axis=1)

en1= {"Youth":0, "middle_aged":1, "senior":2}
en2= {"low":0, "medium":1, "high":2}
en3= {"no":0, "yes":1}
en4= {"fair":0, 'excellent':1}
en5= {"no":0, "yes":1}

cat_df["age "]           =  cat_df["age "].map(en1)
cat_df["income"]         =  cat_df["income"].map(en2)
cat_df["student"]        =  cat_df["student"].map(en3)
cat_df["credit_rating"]  =  cat_df["credit_rating"].map(en4)
cat_df.head()

   age   income  student  credit_rating Class:buys Computer
0     0       2        0              0                  no
1     0       2        0              1                  no
2     1       2        0              0                 yes
3     2       1        0              0                 yes
4     2       0        1              0                 yes

SPLITTING DATA

In [13]:
from sklearn.model_selection import train_test_split

In [19]:
X = cat_df.drop('Class:buys Computer', axis=1)
y = cat_df['Class:buys Computer']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

IMPORTING MODEL AND FITTING DATA

In [20]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

MAKING PREDICTIONS AND CHECKING ACCUARACY

In [21]:
predictions = gnb.predict(X_test)
print("Predicted Values:-", end=' ')
print(predictions)
print("-------------------------------------------------------- ")

print("Actual Values:-")
print(y_test)
print("")
print("-------------------------------------------------------- ")

print("Number of mislabeled values out of a total %d values:- %d" % (X_test.shape[0], (y_test != predictions).sum()))
print("-------------------------------------------------------- ")

import sklearn.metrics
print("Accuracy:", end=" ")
a=sklearn.metrics.accuracy_score(y_test, predictions)
print("%.3f"%a, end=" --> ")
print(a*100,end='')
print('%')

Predicted Values:- ['yes' 'yes' 'yes' 'yes' 'yes']
--------------------------------------------------------
Actual Values:-
6     yes
5      no
10    yes
9     yes
12    yes
Name: Class:buys Computer, dtype: object

--------------------------------------------------------
Number of mislabeled values out of a total 5 values:- 1
--------------------------------------------------------
Accuracy: 0.800 --> 80.0%

PRINTING CLASSIFICATION REPORT

In [18]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          no       0.00      0.00      0.00         4
         yes       0.20      1.00      0.33         1

    accuracy                           0.20         5
   macro avg       0.10      0.50      0.17         5
weighted avg       0.04      0.20      0.07         5

C:\Users\Divyansh\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)